
a,.tp-caption a.btn:hover {
  color: #ffffff;
}
.top-nav-collapse {
  background: #90d3c8;
}

.navbar-custom ul.nav ul.dropdown-menu li a:hover {
  color: #90d3c8;
}

.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span {
    background-color: #6DA1D3;
}

.widget-avatar .avatar:hover {
    border: 5px solid #6DA1D3;
}

.bg-skin {
  background: #6DA1D3;
}

footer {
    background-color: #90d3c8;
}

.btn-skin {
  color: #fff;
  background-color: #6DA1D3;
  border-color: #6DA1D3;
}



/* new */

.icon:hover .fa{
  color: #96B8D4;
}